<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %>,  <%= @shelter.zip %></p>
<br>
<%= link_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %><br>
<%= link_to "Back to Shelters", "/shelters" %><br>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %><br>
<%= link_to "View Available Pets", "/shelters/#{@shelter.id}/pets" %><br>

<h1>Reviews</h1>

<% @shelter.reviews.each do |review| %>
  <section class="review-<%= review.id %>">
    <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/edit" %><br>
    <h3><%= review.title %></h3>
    <p><%= review.rating %><p><br>
    <p><%= review.content %><p><br>
    <img style="width:40vw" src="<%= review.image %>"><hr>
  </section>
<% end %>

<%= link_to "Add Review", "/shelters/#{@shelter.id}/reviews/new" %><br>
