<h1>Favorite Pets</h1>

<%= link_to "Apply Now!", "/adoptions/new" %>

  <% if favorites.total_count == 0 %>
    <h3>You have not selected any favorite pets!</h3>
  <% else %>
    <% favorites.contents.each do |pet| %>
      <section class= "fav_pets-<%= pet %>">
        <h3><%= link_to favorites.find_fav_pet(pet).name, "/pets/#{favorites.find_fav_pet(pet).id}" %></h3>
        <img style="width:40vw" src="<%= favorites.find_fav_pet(pet).image %>">
        <%= link_to "Remove from Favorites", "/favorites/#{favorites.find_fav_pet(pet).id}/from_index", method: :delete %><hr>
      </section>
    <% end %>
  <% end %>
  <h3><%= link_to "Clear All Favorites", "/favorites", method: :delete %></h3>
