<% app= Adoption.find(params[:id]) %>

<%= "name: #{app.name}"%>
<%= "address: #{app.address}"%>
<%= "city: #{app.city}"%>
<%= "state: #{app.state}"%>
<%= "zip: #{app.zip}"%>
<%= "phone: #{app.phone}"%>
<%= "description: #{app.description}"%>

<h3>Pets being applied for:</h3>
